body {
  font-family: 'EB Garamond'; /* You probably don't need to set this for the body since, it's just being overridden by the h1, h2, etc. below */
  line-height: 1.45;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 150px;
}

h1 {
  font-family: 'oswald', sans-serif; /* I added the fallback font Google suggests */
  font-size: 64px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 0.5; /* 0.5 is a little weird because it means you want the line height to be half the size of the font. Usually, you want the size of the font, plus a little extra so something like 1.2 or 1.5, etc. */
  color: #000;
}

h2 {
  font-family: 'oswald';
  font-size: 28px;
  font-weight: 500;
  line-height: 0.5;
  color: #000;
  opacity: 0.5; /* You can do this, but it may be about the same as making the color grey */
}

h3 {
  font-family: 'oswald';
  font-size: 14px;
  font-weight: 200;
  line-height: 0.5;
  text-transform: uppercase;
  opacity: 0.5;
  color: #000;
}

h4 {
  font-family: 'oswald';
  font-size: 20px;
  font-weight: 200;
  line-height: 0.5;
  text-transform: uppercase;
  opacity: 0.5;
  color: #000;
  margin-bottom: 40px;
}

.section {
  width: 80%;
  padding: 1em 10%;
}

p {
  font-family: inherit;
  font-size: 24px;
  margin-bottom: 30px;
  color: #000;
}

img.pano {
  width: 100%;
}

a:link {
  color: rgb(0, 0, 0); /* This works, but unless you need to play with the opacity (rgba), hexidecimal units may be easier to manage. For example: #000 */
  text-decoration-color: rgb(238 82 46); /* Same here #EE522E */
  text-decoration-thickness: 3px;
}

/* This color chart may be helpful: https://m2.material.io/design/color/the-color-system.html#tools-for-picking-colors */

footer {
  font-family: 'oswald';
  font-size: 14px;
  font-weight: 200;
  text-transform: uppercase;
  opacity: 0.5;
  text-align: center;
  margin-bottom: 30px;
}

/* flyTo map */
#map { 
  position: relative; 
  top: 0; /* The x & y coordinates are set on the absolute element. Use, for example, top and left. */
  bottom: 0; /*  same as above */
  width: 95%; 
  height: 700px;
  margin-left: auto;
  margin-right: auto;
}

.map-overlay-container {
  position: absolute;
  width: 33%;
  top: 0;
  left: 0;
  padding: 10px;
  z-index: 1;
}
   
.map-overlay {
  font: 10px/14px 'Oswald', 'EB Garamond'; /* line height is set twice. Here */
  line-height: 1; /* and here. Only once is fine */
  background-color: #fff;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.map-overlay p {
margin: 0 0 10px;
}

/* Overlay splash page */
.callout {
  position: fixed; /* FYI - fixed is "fixed" on the page. It's not relative to another element so it won't work in combination with the "absolute" in .closebtn */
  bottom: 35px;
  right: 20px;
  margin-left: 20px;
  max-width: 100%; /* Max width should be an absolute unit, not relative */
  max-height: 800px;
}

.callout-header {
  padding: 25px 15px;
  background: #555;
  font-family: 'Oswald';
  font-size: 30px;
  color: white;
}

.callout-container {
  padding: 95px;
  background-color: #ccc;
  color: black;
}

.closebtn {
  position: absolute;
  top: 5px;
  right: 15px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.closebtn:hover {
  color: lightgrey;
}