body {
  margin:0;
  padding:0;
  font-size: 100%;
}

#header {
  margin: auto;
  width: 100%;
  position: relative;
  padding: 90px 0px 35px 0px;
  z-index: 5;
}
#header h1, h2, p {
  margin: auto;
  color: black;
  text-align: left;
  max-width: 600px;
  line-height: 1;
}
#header h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  text-transform: uppercase;
  margin-bottom: 5px;
}
#header h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 1.5em;
  margin-bottom: 25px;
}
#header p {
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  font-size: 1.1cem;
}

#footer {
  width: 100%;
  min-height: 5vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  text-align: center;
  margin-bottom: 25px;
  position: relative;
  z-index: 5;
}
#footer p {
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  font-size: 0.9em;
  color: black;
  text-transform: uppercase;
  text-align: center;
  padding: 0.75em 0em;
}
  
a, a:hover, a:visited {
  color: #49C2FF;
}

.column {
  float: center;
  width: 50%;
  padding: 1px;
}
.row {
  display: flex;
}

/*Mapbox template*/
/*Story body*/
#features {
  padding-top: 20vh;
  padding-bottom: 10vh;
  }
#features h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 1.3em;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 1.1em;
}
#features p {
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  font-size: 1.3em;
  color: black;
  margin-bottom: 0.9em;
}
#features .imageCredit {
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  font-size: 0.9em;
  margin-top: -5px;
}

/*Map - everything else is relative to this*/
#map {
  top:0;
  height: 100vh;
  width:100vw;
  position: fixed;
}

/*#mapInset {
  bottom:50px;
  right:30px;
  height: 180px;
  width:250px;
  max-width:100%;
  position: fixed;
  z-index: 1;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  pointer-events: none;
}
#mapInset .mapboxgl-ctrl-bottom-left{
  display: none;
}
@media (max-width: 500px) {
  #mapInset {
    display: none;
  }
}*/

/*Style elements*/
.hidden {
  visibility: hidden;
}

.centered {
  width: 65vw;
  margin: 0 auto;
}
.lefty {
  width: 33vw;
  margin-left: 5vw;
}
.righty {
  width: 33vw;
  margin-left: 62vw;
}
.fully {
  width: 75vw;
  margin: auto;
}

.light {
  color: #444;
  background-color: #fafafa;
}
.dark {
  color: #fafafa;
  background-color: #444;
}

.step {
  padding-bottom: 50vh;
  /* margin-bottom: 10vh; */
  opacity: 0.15;
}
.step.active {
    opacity: 0.99;
}
.step div {
  padding:  25px 50px;
  line-height: 25px;
  font-size: 13px;
  border-radius: 5px;
  margin: 0;
}

@media (max-width: 600px) {
  #features {
    width: 90vw;
    margin: 0 auto;
  }
  .column {
    width: 100%;
  }
  .centered, .lefty, .righty, .fully {
    width: 90vw;
    margin: 0 auto;
  }
  #header h1, h2, p {
    padding: 0px 10px 0px 10px;
  }
}

/*Fix issue on mobile browser where scroll breaks*/
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan,
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan .mapboxgl-canvas {
  touch-action: unset;
}