body {
  margin:0;
  padding:0;
  font-size: 100%;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
}
h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 1.6em;
}
p {
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  font-size: 1.15em;
}
h1, h2, p {
  color: black;
  text-align: left;
}

#header {
  margin: auto;
  width: 100%;
  position: relative;
  padding: 90px 5px 35px 5px;
  z-index: 5;
  
}
#header h1, h2, p {
  margin: auto;
  line-height: 1;
}
#header h1 {
  text-transform: uppercase;
  margin-bottom: 5px;
  padding-left: 50px;
}
#header h2 {
  font-size: 1.5em;
  margin-bottom: 25px;
  padding-left: 50px;
}
#header p {
  padding-left: 50px;
}

#footer {
  width: 100%;
  position: relative;
  z-index: 5;
}
#footer p {
  font-weight: 200;
  font-size: 1em;
  color: black;
  text-align: center;
  padding: 0.75em 0em;
}
  
a, a:hover, a:visited {
  color: #49C2FF;
}

audio {
  max-width: 200px;
}

/*Mapbox template*/
/*Story*/
#features {
  padding-top: 20vh;
  padding-bottom: 10vh;
  }
#features h2 {
  font-size: 1.3em;
  text-transform: uppercase;
  margin: 0.9em 0em 1.1em 0em;
}
#features p {
  font-size: 1.2em;
  line-height: 1.25em;
  margin-bottom: 0.9em;
}
#features .imageCredit {
  font-family: 'EB Garamond', serif;
  font-size: 0.9em;
  margin-top: -0.3em;
  margin-bottom: 1.5em;
}

/*Map - everything else is relative to this*/
#map {
  top: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
}

/*Style elements*/
.hidden {
  visibility: hidden;
}

.centered {
  width: 65vw;
  margin: 0 auto;
}
.lefty {
  width: 33vw;
  margin-left: 5vw;
}
.righty {
  width: 33vw;
  margin-left: 63vw;
}
.fully {
  width: 80vw;
  margin: auto;
}

.light {
  color: #444;
  background-color: #fafafa;
}
.dark {
  color: #fafafa;
  background-color: #444;
}

.step {
  padding-bottom: 50vh;
  /* margin-bottom: 10vh; */
  opacity: 0.35;
}
.step.active {
    opacity: 0.99;
}
.step div {
  padding:  20px 30px;
  border-radius: 5px;
  margin: 0;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 600px) {
  #features {
    width: 90vw;
    margin: 0 auto;
  }
  .column {
    width: 100%;
  }
  .centered, .lefty, .righty, .fully {
    width: 90vw;
    margin: 0 auto;
  }
  #header h1 {
    padding-left: 10px;
  }
  #header h2 {
    padding-left: 10px;
  }
  #header p {
    padding-left: 10px;
  }
}

/*Fix issue on mobile browser where scroll breaks*/
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan,
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan .mapboxgl-canvas {
  touch-action: unset;
}